<!DOCTYPE html>
<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">-->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
	<script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
	<script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
	<!--star review[start]-->
	<!--http://runnable.com/UfH637_djX9LAAAt/how-to-add-5-star-rating-using-jquery--> 
	<!--<script src="js/jquery.min.js"></script>
	<script src="js/jquery.raty.js"></script>-->
	<!--star review[end]-->
	
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
	
	<script type="text/javascript" src="js/Calendar.js"></script>
	
	<!--CALENDAR-->
    <link rel="stylesheet" type="text/css" href="src/angular-pickadate.css">
    <script type="text/javascript" src="test/lib/angular-1.3.6.js"></script>
    <script type="text/javascript" src="src/angular-pickadate.js"></script>
	
	<!--Stars for review-->
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<style>
	.rating {
		overflow: hidden;
		display: inline-block;
		font-size: 0;
		position: relative;
	}
	.rating-input {
		float: right;
		width: 16px;
		height: 16px;
		padding: 0;
		margin: 0 0 0 -16px;
		opacity: 0;
	}
	.rating:hover .rating-star:hover,
	.rating:hover .rating-star:hover ~ .rating-star,
	.rating-input:checked ~ .rating-star {
		background-position: 0 0;
	}
	.rating-star,
	.rating:hover .rating-star {
		position: relative;
		float: right;
		display: block;
		width: 16px;
		height: 16px;
		background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
	}
	</style>
	
	<script>
		function calendar_events(){
			 //var startDate = new Date(2015,4,1,2,30,0,0,0); // beware: month 0 = january, 11 = december
			 // var endDate = new Date(2015,4,1,3,30,0,0,0);
			 
			 var startDate = new Date(2015,2,15,0,0,0,0,0);
			 var endDate = new Date(2015,2,16,0,0,0,0,0);
			  var title = "Skype meeting With Lead";
			 //var location = "myleads.html";
			  var notes = "Need to do a skype meeting with the lead.";
			  var success = function(message) { alert("Success: " + JSON.stringify(message)); };
			var error = function(message) { alert("Error: " + message); };
			  // window.plugins.calendar.listEventsInRange(startDate,endDate,success,error);
				//  window.plugins.calendar.createCalendar(calendarName,success,error);
			window.plugins.calendar.createEvent(title,location,notes,startDate,endDate,success,error);
			 }
			 document.addEventListener("deviceready", calendar_events, false);
	</script>	
  </head>
  <!--APP STRUCTURE-->
<!--
1. LOGIN PAGE
	1.1 FORGET PASSWORD PAGE
2. MAIN PARENT PAGE CONTAINER (the top bar fixed, other pages will be injected inside~abstract true)
--all templates below--
-new pages are added
3. HOME PAGE
4. CLASSES PAGE
	SELECTED CLASS PAGE
	CLASS STAFF INFO
5. WORKSHOPS PAGE
	SELECTED WORKSHOP PAGE
	WORKSHOP STAFF INFO
6. EVENTS PAGE
7. APPOINTMENTS PAGE
8. CHALLENGES PAGE
9. YOGAPEDIA PAGE
10. LUCKY DRAW PAGE
11. HALL OF FAME PAGE
Promotions
Contact Us
FAQ PAGE
About page
-->  
  <body ng-controller="MainCtrl">

	<!--for display-->
	<ion-nav-view animation="no-animation"></ion-nav-view>
	
	
	<!--LOGIN PAGE-->
	<script id="templates/login.html" type="text/ng-template">	
      <ion-view title="Login">
		<!--top bar-->
		<ion-nav-bar class="bar-energized">
				<!--<ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>--> 
		</ion-nav-bar>
		
        <ion-content>			
          <div class="list">
            <label class="item item-input item-stacked-label" style="padding-right:15px">
              <span class="input-label">Email</span>
              <input type="text" style="background-color:#ecf0f1;padding-left: 10px;" ng-model="user.username">
			</label>
            <label class="item item-input item-stacked-label" style="padding-right:15px">
              <span class="input-label">Password</span>
              <input type="password" style="background-color:#ecf0f1;padding-left:10px;" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-energized" ng-click="signIn(user)">
              Sign-In
            </button>
			<!--<div align="center">
				<div ng-click="loadRegister()">Register</a><br/>
				</div>
            </div>-->
			<div align="center">
				<div style="color:black;" ng-click="openModal()">Reset Password</div><br/>
              <!--<a nav-transition="none" href="#/forgot-password">Forgot password</a>-->
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>
	
	
	
	
	<!--PASSWORD RESET MODAL-->
	<script id="password-modal.html" type="text/ng-template">
	  <ion-modal-view>
		<ion-header-bar class="bar-energized">
			<h1 class="title">Password Reset</h1>
			  <div class="buttons">
					<a nav-transition="none" class="button button-icon ion-close" ng-click="closeModal()"></a>
			  </div>
		</ion-header-bar>
			<ion-content>
				<div class="list">
				  <label class="item item-input item-stacked-label" style="padding-right:15px">
				    <span class="input-label">Email</span>
					<input style="background-color:#ecf0f1;padding-left:10px;" type="text" ng-model='reset.email'>
				  </label>
				  <label class="item item-input item-stacked-label"style="padding-right:15px">
				    <span class="input-label">First Name</span>
					<input style="background-color:#ecf0f1;padding-left:10px;" type="text" ng-model='reset.firstName' >
				  </label>
				  <label class="item item-input item-stacked-label"style="padding-right:15px">
				  <span class="input-label">Last Name</span>
					<input style="background-color:#ecf0f1;padding-left:10px;" type="text" ng-model='reset.lastName' >
				  </label>
				  <div class="padding">
					  <button class="button button-block button-energized" ng-click="passwordReset(reset)">Submit</button>
					</div>
				</div>
			</ion-content>
	  </ion-modal-view>
	</script>
	
	 
	<!--MAIN PARENT PAGE CONTAINER (with only top bar and side menus, contents are injected)-->
    <script id="templates/yoga-app.html" type="text/ng-template">
      <ion-side-menus ng-controller="sidebarCtrl">
		
		<!--main contents area-->
        <ion-side-menu-content>
		
		  <!--Different page titles are injected here-->	
          <ion-nav-bar class="bar-energized">
				<!--<ion-nav-back-button></ion-nav-back-button>-->
				
				<!--left menu navigation button-->
				<ion-nav-buttons side="left">
				  <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				  </button>
				</ion-nav-buttons>
				
				<!--right menu setting button-->
				<ion-nav-buttons side="right">
				  <a nav-transition="none" class="button button-icon button-clear ion-gear-a" href="#/yoga-app/setting">
				  </a>
				</ion-nav-buttons>
          </ion-nav-bar>
		  
		  <!--child pages from nesting are INJECTED here (nested under)!!-->		
          <ion-nav-view name="menuContent"></ion-nav-view>
		  
		<!--bottom footer (permanent)-->
				<ion-footer-bar>	
					<ion-tabs class="tabs-striped tabs-background-energized tabs-color-light">
							  <a nav-transition="none" class="tab-item" href="#/yoga-app/home">
								<i class="icon ion-home custom-icon" style="padding-top:2px;"></i>
							  </a>
							  <div class="tab-item" ng-click="showActionsheet()">
								<i class="icon ion-compose custom-icon" style="padding-top:2px;"></></i>
							  </div>
							  <!--barcode-->
							  <a nav-transition="none" class="tab-item" href="#/yoga-app/barcode">
								<i class="icon ion-card custom-icon" style="padding-top:2px;"></></i>
							  </a>
							  <!--yogapedia-->
							  <a nav-transition="none" class="tab-item" href="#/yoga-app/yogapedia">
								<i class="icon ion-man custom-icon" style="padding-top:2px;"></></i>
							  </a>
							  <!--review-->
							  <a nav-transition="none" class="tab-item" href="#yoga-app/review" ng-click="" ng-controller="reviewCtrl">
								<i class="icon ion-clipboard custom-icon" style="padding-top:2px;"></></i>
							  </a>
							 
					</ion-tabs>
				</ion-footer-bar>
			
        </ion-side-menu-content>	  

		<!--left side menu bar-->
        <ion-side-menu side="left">
		  
          <ion-content>
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <a nav-transition="none" class="item item-icon-left" href="#/yoga-app/home" menu-close><i class="icon ion-home"></i>HOME</a>
			  
			  <!--BOOK LINK in ACCORDION-->
			  	<ion-list>
					<div ng-repeat="group in groups">
					  <ion-item class="item item-icon-left"
								ng-click="toggleGroup(group)"
								ng-class="{active: isGroupShown(group)}">	
						  <i class="icon ion-compose" ng-class="isGroupShown(group) ?"></i>
						{{group.name}}
					  </ion-item>
					  <ion-item class="item-accordion"
								ng-repeat="item in group.items"
								ng-show="isGroupShown(group)"  ng-repeat="" href="#/yoga-app/{{item}}" type="item-link" menu-close>
						<i class="icon ion-chevron-right" style="padding:10px; font-size:92%;">&nbsp;&nbsp;&nbsp;&nbsp;{{item}}</i>
					  </ion-item>
					</div>
				</ion-list>
			
			<a nav-transition="none" href="" ng-click="loadPromotions()" class="item item-icon-left" menu-close><i class="icon ion-speakerphone"></i>PROMOTIONS</a>
			
			<!--HEALTH TIP LINK
			  <a nav-transition="none" href="#/yoga-app/promotions" class="item item-icon-left" menu-close><i class="icon ion-speakerphone"></i>PROMOTIONS</a>-->
			  
			  <a nav-transition="none" href="" ng-click="loadPrivileges()" class="item item-icon-left" menu-close><i class="icon ion-happy"></i>PY PRIVILEGES</a>
			  
			  <a nav-transition="none" href="#/yoga-app/yogapedia" class="item item-icon-left" menu-close><i class="icon ion-man"></i>YOGAPEDIA</a>
			  
			  <a nav-transition="none" class="item item-icon-left" href="#/yoga-app/halloffame" menu-close><i class="icon ion-trophy"></i>HALL OF FAME</a>
			  
			  <a nav-transition="none" href="#/yoga-app/faq" class="item item-icon-left" menu-close>
			  <i class="icon ion-information-circled"></i>INFO/ETIQUETTE</a>
			  
			  <a nav-transition="none" href="" class="item item-icon-left" ng-click="loadContact()" menu-close><i class="icon ion-map"></i>
			  CONTACT US</a>
			  
			  <a nav-transition="none" href="#/login" class="item item-icon-left" ng-click="logout()" menu-close>
			  <i class="icon ion-power"></i>LOG OUT</a>
            </ul>
          </ion-content>
        </ion-side-menu>
      </ion-side-menus>
    </script>

	<!--HOME PAGE-->
    <script id="templates/home.html" type="text/ng-template">
      <ion-view title="Home">
			<ion-header-bar class="bar-subheader" style="height: auto;border-color:transparent;">
				<div class="row">
					<div class="col col-35">
						<b>Username: </b>{{username}}<br/>
						<b>User ID: </b>{{userId}}<br/>
						<b>Venue: </b>
						<select ng-options="venue for venue in ['Marine Parade', 'Suntec']" ng-model="venue1" ng-change="selectVenue()">
						<option value="" selected>Select Venue</option>
					</select>
					</div>
					<div class="col col-65">				
						<label class="bar bar-header item-input item-icon-right">
							<div style="margin-left:-15px;"><i class="icon ion-calendar"></i></div><input style="border-color:white;background:#ecf0f1;left:25px;" type="date" ng-model="dateNow" placeholder="yyyy-MM-dd">
						</label>
					</div>
				</div>				
				<b>
				<div class="button-bar">
				  <a nav-transition="none" class="button button-small" id="showClasses" ng-click="showClasses()">CLASSES SCHEDULE</a>
				</div>
				<div class="button-bar">
				  <a nav-transition="none" class="button button-small" id="showUpcoming" ng-click="showUpcoming()">MY SCHEDULES</a>
				  <a nav-transition="none" class="button button-small" id="showWaitingList" ng-click="showWaitingList()">WAITING LIST</a>
				</div>
				</b>
			</ion-header-bar>
			
			<ion-content padding="true">
				<br><br><br><br><br>
				<!--displays one week's worth of classes for booking-->
				<div class="list" ng-show="displayClasses">
					<div class="item wrap" ng-repeat="classListItem in totalClasses | orderBy:'StartDateTime'| filter:(dateNow)">
					<div class="row">
						<div class="col col-75">
							<a nav-transition="none" href="#/yoga-app/selectedClass/{{classListItem.ID}}">
							<b>{{classListItem.ClassDescription.Name}}</b><br/>
							{{(classListItem.StartDateTime).slice(8,10)}}-{{(classListItem.StartDateTime).slice(5,7)}}-{{(classListItem.StartDateTime).slice(0,4)}}<br/>
							{{(classListItem.StartDateTime).slice(11,16)}} - {{(classListItem.EndDateTime).slice(11,16)}}<br/>
							{{classListItem.Staff.Name}}<br/>
							{{classListItem.ClassDescription.Level.Name}}
							<!--{{classListItem.MaxCapacity-classListItem.TotalBooked}} available-->
							</a>
						</div>
						<div class="col col-center col-25">
							<button class="button-right button-stable" ng-click="bookClassInHome({{classListItem.ID}},{{userID}})" ng-show={{classListItem.IsAvailable}}>Book</button>
						</div>
						</div>
					</div>
				</div>
				
				
				<!--list displaying booked classes and workshops[this is a single list from the mindbodyonline service]-->
				<div class="list" ng-show="showUpcomingView">			
					<div class="item wrap" ng-repeat="class in scheduledClasses">
						<div class="row">
							<div class="col col-67">
							{{(class.StartDateTime).slice(8,10)}}-{{(class.StartDateTime).slice(5,7)}}-{{(class.StartDateTime).slice(0,4)}}&nbsp;{{(class.StartDateTime).slice(11,16)}}<br/>
							<b>Lesson:</b>&nbsp;{{class.Name}}<br/>
							<b>Staff:</b>&nbsp;{{class.Staff.Name}}</div>
							<div class="col col-33" style="padding-top:0px;padding-left:40px;">
								<div class="button button-small assertive" ng-click="removeClass({{class}},{{userId}})">Cancel</div>
								
								<div class="button button-small" ng-click="share({{class}})">&nbsp;Share&nbsp;</div>
								
							</div>
						</div>
					</div>
				</div>
				
				<!--waitlist-->
				<div class="list" ng-show="showWaitlist">
					<div class="item wrap" ng-repeat="class in waitlist">
						<div class="row">
							<div class="col col-67">
								{{(class.ClassDate).slice(8,10)}}-{{(class.ClassDate).slice(5,7)}}-{{(class.ClassDate).slice(0,4)}}&nbsp;{{(class.ClassSchedule.StartTime).slice(12,19)}}<br/>
								<b>Lesson:</b>&nbsp;{{class.ClassSchedule.ClassDescription.Name}}<br/>
								<b>Staff:</b>&nbsp;{{class.ClassSchedule.Staff.Name}}
							</div>
							<div class="col col-33" style="padding-top:20px;padding-left:40px;">
								<div class="button button-small assertive" ng-click="removeWaitClass({{class.ID}})">Cancel</div>
							</div>
						</div>
					</div>
				</div>
				
			</ion-content>
      </ion-view>
    </script>
	
	
	

	<!--REVIEW PAGE-->
    <script id="templates/review.html" type="text/ng-template">
      <ion-view title="History">
	  		<ion-header-bar class="bar-subheader" style="height: auto;border-color:transparent;">
				<b>
					<div class="button-bar">
					  <a nav-transition="none" class="button button-small" id="showHistoryButton" ng-click="showHistory()" style="background-color:#e87722; color:#ffffff;">PAST BOOKINGS</a>
					  <a nav-transition="none" class="button button-small" id="showPurchaseHistory" ng-click="showPurchaseHistory()" style="background-color:#f8f8f8; color:#808080;">PURCHASES</a>
					</div>
				</b>
			</ion-header-bar>
			
			<ion-content has-header="true" padding="true">
		
			<!--histories showing past bookings-->
				<div class="list" ng-show="showHistoryView">
					<div class="item wrap" ng-repeat="history in userHistory | orderBy:'-StartDateTime'">
						<div class="row">
							<div class="col col-67">
							{{(history.StartDateTime).slice(0,10)}}<br/>
							<b>Lesson:</b>&nbsp;{{history.Name}}<br/>
							<b>Staff:</b>&nbsp;{{history.Staff.Name}}<br/>
							<b>Attendance:&nbsp;</b>
							<span ng-show={{history.SignedIn}}>Present</span>
							<span ng-show=!{{history.SignedIn}}>Absent</span>
							</div>
							<div class="col col-33">
								<div class="button button-outline button-small button-energized" ng-click="writeReview({{history}})" ng-show={{history.SignedIn}}>Review</div><br/>
								<div class="button button-outline button-small button-energized" ng-click="shareHistory({{history}})" ng-show={{history.SignedIn}}>&nbsp;Share&nbsp;&nbsp;</div><br/>
							</div>
						</div>
					</div>
				</div>
				
				
				<!--list displaying purchase histories-->
				<div class="list" ng-show="showPurchase">				
					<div class="item wrap" ng-repeat="item in saleItems | orderBy:'-Sale.SaleDate'">
						{{(item.Sale.SaleDate).slice(8,10)}}-{{(item.Sale.SaleDate).slice(5,7)}}-{{(item.Sale.SaleDate).slice(0,4)}}<br/>
						<b>Item:</b>{{item.Description}}<br/>
						<b>Price:</b>S${{item.Price.slice(0,-2)}}<br/>
						<b>Quantity:</b>{{item.Quantity}}
					</div>
				</div>

			</ion-content>
      </ion-view>
    </script>
	

	<!--SHOW REVIEW MODAL-->
	<script id="review-modal.html" type="text/ng-template">
	  <ion-modal-view>
		<ion-header-bar class="bar-energized">
			<h1 class="title">Review</h1>
			  <div class="buttons">
					<a nav-transition="none" class="button button-icon ion-close" ng-click="closeModal()"></a>
			  </div>
		</ion-header-bar>
			
			<ion-content>
				<div class="row">
					<div class="col">
						<b>Lesson: </b>{{lessonName}}<br/>
						<b>Staff: </b>{{staffName}}<br/>
						<br>
						<textarea rows="4" cols="40" style="background-color:#f8f8f8;"ng-model='review.feedback' type="text" placeholder='Enter your review here'></textarea>
						
						<span class="rating">
							<input type="radio" class="rating-input" id="rating-input-1-5" name="rating-input-1" value="5" ng-model='review.stars'/>
							<label for="rating-input-1-5" class="rating-star"></label>
							<input type="radio" class="rating-input" id="rating-input-1-4" name="rating-input-1" value="4" ng-model='review.stars'/>
							<label for="rating-input-1-4" class="rating-star"></label>
							<input type="radio" class="rating-input" id="rating-input-1-3" name="rating-input-1" value="3" ng-model='review.stars'/>
							<label for="rating-input-1-3" class="rating-star"></label>
							<input type="radio" class="rating-input" id="rating-input-1-2" name="rating-input-1" value="2" ng-model='review.stars'/>
							<label for="rating-input-1-2" class="rating-star"></label>
							<input type="radio" class="rating-input" id="rating-input-1-1" name="rating-input-1" value="1" ng-model='review.stars'/>
							<label for="rating-input-1-1" class="rating-star"></label>
						</span>
						<br>
						<button class="button button-energized button-small" ng-click="addReview(review)">&nbsp;&nbsp;Add Review&nbsp;&nbsp;</button>
					</div>
				</div>
				
				<br/>
				<div ng-show="displayReviews">
					<b>Personal Review:</b>
					<div class="row">
						<div class="col">
								{{userFeeds.feedback}}
								<span ng-repeat="n in [] | range:userFeeds.stars"><img src="star-on.png"/></span>
						</div>
					</div>
				</div>
			
			</ion-content>
	  </ion-modal-view>
	</script>
	

	<!--CLASSES PAGE-->
    <script id="templates/classes.html" type="text/ng-template">
      <ion-view title="Classes" has-header="true">
	  		<ion-header-bar class="bar-subheader" style="height: auto;border-color:transparent;">
				<label class="bar bar-header item-input item-icon-right" style="padding-right:15px">
				  <span class="input-label">Date</span>
				  	<i class="icon ion-calendar"></i><input style="background-color:#ecf0f1;padding-left:10px;" type="date" ng-model="datex" placeholder="yyyy-MM-dd">
				</label>
		
				<label class="bar bar-header item-input-inset" style="padding-right:15px">
					<input style="background-color:#ecf0f1;padding-left:10px;" type="text" ng-model="search" placeholder="Search for Class/Instructor name">
				</label>

				<div class="bar bar-header item-input-inset ng-hide">
					<ion-search placeholder="Search for Instructor/Class name" filter="(date)"></ion-search>
				</div>
			</ion-header-bar>
			<ion-content padding="true">
			<!--pull to refresh(start)-->
			<ion-refresher on-refresh="refreshClasses()"></ion-refresher>
			<!--pull to refresh(end)-->
				<br><br><br>
				<div class="list">
					<div class="item wrap" ng-repeat="class in totalClasses | orderBy:'StartDateTime'| filter:(datex) | filter:(selectedOption.value)|contains:search">
					<div class="row">
						<div class="col col-75">
							<a nav-transition="none" href="#/yoga-app/selectedClass/{{class.ID}}">
							<b>{{class.ClassDescription.Name}}</b><br/>		{{(class.StartDateTime).slice(8,10)}}-{{(class.StartDateTime).slice(5,7)}}-{{(class.StartDateTime).slice(0,4)}}<br/>
							{{(class.StartDateTime).slice(11,16)}} - {{(class.EndDateTime).slice(11,16)}}<br/>
							{{class.Staff.Name}}<br/>
							{{class.ClassDescription.Level.Name}}
							<!--{{class.MaxCapacity-class.TotalBooked}} available-->
							</a>
						</div>
						<div class="col col-center col-25">
							<button class="button-right button-stable" ng-click="bookClass({{class.ID}},{{userID}})" ng-show={{class.IsAvailable}}>Book</button>
						</div>
						</div>
					</div>
				</div>
			</ion-content>	
      </ion-view>
    </script>
	
	<!--SELECTED CLASS PAGE-->
    <script id="templates/selectedClass.html" type="text/ng-template">
      <ion-view title="Class">
        <ion-content has-header="true">
			
			<div align="center">
				<div class="row">
				  <div class="col"><b>{{selectedclass.ClassDescription.Name}}</b></div>
				</div>
				
				<!--
				<div class="row">
				  <div class="col">{{selectedclass.TotalBooked}}/{{selectedclass.MaxCapacity}} Enrolled</div>
				</div>-->

				<div class="row">
				  <div class="col">
						<div class="button-bar">
						  <a nav-transition="none" class="button button-small button-energized" href="tel:+6563480809">Call</a>
						  <div class="button button-small button-energized" ng-click="bookClass({{selectedclass.ID}},{{userID}})">Enroll</div>
						</div>
						<a nav-transition="none" class="button button-small button-energized" href="#/yoga-app/CLASSES">All Classes</a>
					</div>
				</div>

				<div class="row">
				  <div class="col">
					<a nav-transition="none" href="#yoga-app/classStaff/{{selectedclass.Staff.ID}}" class="button button-small">Instructor:&nbsp;{{selectedclass.Staff.Name}}
					</a>
				  </div>
				  <div class="col">
					<div class="button button-small" ng-click="openModal()">Reviews</div>
					</div>
				</div>
				
				<!--rating stars-->
				<div class="row">
					<div class="col">
						<div style="align:right;size:70%;" id="review1" data-score="3.5"></div>
						<div id="result1" style="font-size: 15px !important;"></div>
					</div>
				</div>

				<div class="row">
				  <div class="col">{{(selectedclass.StartDateTime).slice(8,10)}}-{{(selectedclass.StartDateTime).slice(5,7)}}-{{(selectedclass.StartDateTime).slice(0,4)}}</div>
				</div>
				
				<div class="row">
				  <div class="col">{{(selectedclass.StartDateTime).slice(11,16)}} - {{(selectedclass.EndDateTime).slice(11,16)}}</div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Description:</b><br/>
				     {{updatedClassDescription}}
				  </div>
				</div>
				
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--SHOW REVIEW MODAL-->
	<script id="classReviews_modal.html" type="text/ng-template">
	  <ion-modal-view>
		<ion-header-bar class="bar-assertive">
			<h1 class="title">Reviews</h1>
			  <div class="buttons">
					<a nav-transition="none" class="button button-icon ion-close" ng-click="closeModal()"></a>
			  </div>
		</ion-header-bar>			
			<ion-content>
			<div class="list">
					<div class="row" ng-repeat="feed in classReviews |orderBy: '-stars'">
						<div class="col">
							<b>Username:</b>{{feed.username}}<br/>
							<b>Rating:</b>
							<span ng-show="classReviews!=null" ng-repeat="n in [] | range:feed.stars"><img src="star-on.png"/></span><br/>
							<b>Review:</b>{{feed.feedback}}<br/>
						</div>
					</div>
				</div>
			</ion-content>
	  </ion-modal-view>
	</script>
	
	
	
	
	<!--CLASS STAFF INFO-->
    <script id="templates/classStaff.html" type="text/ng-template">
      <ion-view title="Staff">
        <ion-content>
			
			
			<div align="center">
				<div class="row">
				  <div class="col"><img src="{{selectedStaff.ImageURL}}" /></div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Name:</b>&nbsp;{{selectedStaff.Name}}</div>
				</div>
			
				
				<div class="row">
				  <div class="col"><b>Biography:</b><br/>{{updatedClassStaffDesc}}</div>
				</div>
				
			</div>
        </ion-content>
      </ion-view>
    </script>

	
	<!--WORKSHOPS PAGE-->
    <script id="templates/workshops.html" type="text/ng-template">
      <ion-view title="Workshops">
        <ion-content has-header="true">
		
			<!--pull to refresh workshops(start)-->
			<ion-refresher on-refresh="refreshWorkshops()"></ion-refresher>
			<!--pull to refresh workshops(end)-->
		
			<div class="list">
				<div class="bar bar-header item-input-inset">
					<ion-search placeholder="Search for workshop" filter="search"></ion-search>
				</div>		
					<div class="item wrap" ng-repeat="workshop in workShopsData | filter:search.value">
						<div class="row">
								<div class="col col-67">
									<a nav-transition="none" href="#/yoga-app/selectedWorkshop/{{workshop.ID}}">
									<b>{{workshop.ClassDescription.Name}}</b><br/>
									{{(workshop.StartDate).slice(8,10)}}-{{(workshop.StartDate).slice(5,7)}}-{{(workshop.StartDate).slice(0,4)}}<br/>
									{{(workshop.StartTime).slice(11,16)}} - {{(workshop.EndTime).slice(11,16)}}<br/>
									{{workshop.Staff.Name}} <br/>
									<!--Workshop ID:&nbsp;{{workshop.ID}}-->
									</a>
								</div>
								<div class="col col-center col-33">
									<button class="button-right button-stable col" ng-click="bookSelectedWorkshop({{workshop.ID}},{{userID}})" ng-show={{workshop.IsAvailable}}>Book</button>
								</div>
							</div>
					</div>
				</div>
			
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--SELECTED WORKSHOP PAGE-->
    <script id="templates/selectedWorkshop.html" type="text/ng-template">
      <ion-view title="Workshop">
        <ion-content has-header="true">
			<div align="center">
				<div class="row">
				  <div class="col"><b>{{selectedWorkshop.ClassDescription.Name}}</b></div>
				</div>
				
				<!--
				<div class="row">
				  <div class="col">25/30 Enrolled (dummy)</div>
				</div>-->

				<div class="row">
				  <div class="col">
						<div class="button-bar">
						  <a nav-transition="none" class="button button-small button-energized" href="tel:+6563480809">Call</a>
						  <div class="button button-small button-energized" ng-click="bookSelectedWorkshop(selectedWorkshop,userID)">Enroll</div>
						  <a nav-transition="none" class="button button-small button-energized" href="#/yoga-app/WORKSHOPS">See All Workshops</a>
						</div>
					</div>
				</div>

				<div class="row">
				  <div class="col">
					  <a nav-transition="none" href="#yoga-app/workshopStaff/{{selectedWorkshop.Staff.ID}}" class="button button-small">Instructor:&nbsp;{{selectedWorkshop.Staff.Name}}</a>
				  </div>
				</div>
				
				<!--rating stars-->
				<div class="row">
					<div class="col">
						<div style="align:right;size:70%;" id="review1" data-score="3.5"></div>
						<div id="result1" style="font-size: 15px !important;"></div>
					</div>
				</div>

				<div class="row">
				  <div class="col">{{(selectedWorkshop.StartDate).slice(8,10)}}-{{(selectedWorkshop.StartDate).slice(5,7)}}-{{(selectedWorkshop.StartDate).slice(0,4)}}</div>
				</div>
				
				<div class="row">
				  <div class="col">{{(selectedWorkshop.StartTime).slice(11,16)}} - {{(selectedWorkshop.EndTime).slice(11,16)}}</div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Description:</b><br/>{{updatedWorkshopDescription}}</div>
				</div>
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--WORKSHOP STAFF INFO-->
    <script id="templates/workshopStaff.html" type="text/ng-template">
      <ion-view title="Staff">
        <ion-content has-header="true">
			<div align="center">
				<div class="row">
				  <div class="col"><img src="{{selectedWorkshopStaff.ImageURL}}" /></div>
				</div>
	
				<div class="row">
				  <div class="col"><b>Name:</b>&nbsp;{{selectedWorkshopStaff.Name}}</div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Biography:</b><br/>{{updatedWkspStaffDesc}}</div>
				</div>
				
			</div>
        </ion-content>
      </ion-view>
    </script>

		<!--EVENTS PAGE(under workshops but has its own tab)-->
    <script id="templates/events.html" type="text/ng-template">
      <ion-view title="Events">
			<ion-content has-header="true" ng-init="loadSpecialEvents()">
			
			
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--SELECTED EVENT PAGE-->
    <script id="templates/selectedEvent.html" type="text/ng-template">
      <ion-view title="Event">
        <ion-content has-header="true">
			<div align="center">
				<div class="row">
				  <div class="col"><b>{{selectedEvent.ClassDescription.Name}}</b></div>
				</div>
				
				<!--
				<div class="row">
				  <div class="col">22/30 Enrolled (dummy)</div>
				</div>-->

				<div class="row">
				  <div class="col">
						<div class="button-bar">
						  <a nav-transition="none" class="button button-small button-energized" href="tel:+6563480809">Call</a>
						  <div class="button button-small button-energized" ng-click="bookEvent({{selectedEvent.ID}},{{userID}})">Enroll</div>
						  <a nav-transition="none" class="button button-small button-energized" href="#/yoga-app/EVENTS">See All Events</a>
						</div>
					</div>
				</div>

				<div class="row">
				  <div class="col">
					  <a nav-transition="none" href="#yoga-app/eventStaff/{{selectedEvent.Staff.ID}}" class="button button-small">{{selectedEvent.Staff.Name}}</a>
				  </div>
				</div>
				
				<!--rating stars-->
				<div class="row">
					<div class="col">
						<div style="align:right;size:70%;" id="review1" data-score="3.5"></div>
						<div id="result1" style="font-size: 15px !important;"></div>
					</div>
				</div>

				<div class="row">
				  <div class="col">{{(selectedEvent.StartDate).slice(0,10)}}</div>
				</div>
				
				<div class="row">
				  <div class="col">{{(selectedEvent.StartTime).slice(12,20)}} - {{(selectedEvent.StartDate.EndTime).slice(12,20)}}</div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Description:</b><br/>{{selectedEvent.ClassDescription.Description}}</div>
				</div>
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--EVENT STAFF INFO-->
    <script id="templates/eventStaff.html" type="text/ng-template">
      <ion-view title="Staff">
        <ion-content has-header="true">
			<div align="center">
				<div class="row">
				  <div class="col"><img src="{{selectedEventStaff.ImageURL}}" /></div>
				</div>
				
				<div class="row">
				  <div class="col"><b>{{selectedEventStaff.Name}}</b></div>
				</div>
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--RETREATS PAGE-->
    <script id="templates/retreats.html" type="text/ng-template">
      <ion-view title="Retreats/TT">
        <ion-content has-header="true">
		
			<!--pull to refresh workshops(start)-->
			<ion-refresher on-refresh="refreshRetreats()"></ion-refresher>
			<!--pull to refresh workshops(end)-->
		
			<div class="list">
				<div class="bar bar-header item-input-inset">
					<ion-search placeholder="Search for retreats/TT" filter="search"></ion-search>
				</div>		
					<div class="item wrap" ng-repeat="retreat in retreatsData | filter:search.value">
						<div class="row">
							<div class="col col-67">
								<a nav-transition="none" href="#/yoga-app/selectedRetreat/{{retreat.ID}}">
								<b>{{retreat.ClassDescription.Name}}</b><br/>
								{{(retreat.StartDate).slice(8,10)}}-{{(retreat.StartDate).slice(5,7)}}-{{(retreat.StartDate).slice(0,4)}}<br/>
								{{(retreat.StartTime).slice(11,16)}} - {{(retreat.EndTime).slice(11,16)}}<br/>
								{{retreat.Staff.Name}} <br/>
								<!--Retreat ID:&nbsp;{{retreat.ID}}-->
								</a>
							</div>
							<div class="col col-center col-33">
								<button class="button-right button-stable col" ng-click="bookRetreatNow({{retreat.ID}},{{userID}})" ng-show={{retreat.IsAvailable}}>Book</button>
							</div>
							
							</div>
					</div>
				</div>
			
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--SELECTED RETREAT PAGE-->
    <script id="templates/selectedRetreat.html" type="text/ng-template">
      <ion-view title="Retreat/TT">
        <ion-content has-header="true">
			<div align="center">
				<div class="row">
				  <div class="col"><b>{{selectedRetreat.ClassDescription.Name}}</b></div>
				</div>
				
				<!--
				<div class="row">
				  <div class="col">25/30 Enrolled (dummy)</div>
				</div>-->

				<div class="row">
				  <div class="col">
						<div class="button-bar">
						  <a nav-transition="none" class="button button-small button-energized" href="tel:+6563480809">Call</a>
						  <div class="button button-small button-energized" ng-click="bookRetreatNow({{selectedRetreat.ID}},{{userID}})">Enroll</div>
						  <a nav-transition="none" class="button button-small button-energized" href="#/yoga-app/RETREATS/TT">All Retreats/TT</a>
						</div>
					</div>
				</div>

				<div class="row">
				  <div class="col">
					  <a nav-transition="none" href="#yoga-app/retreatStaff/{{selectedRetreat.Staff.ID}}" class="button button-small">Instructor:&nbsp;{{selectedRetreat.Staff.Name}}</a>
				  </div>
				</div>

				<div class="row">
				  <div class="col">{{(selectedRetreat.StartDate).slice(8,10)}}-{{(selectedRetreat.StartDate).slice(5,7)}}-{{(selectedRetreat.StartDate).slice(0,4)}}</div>
				</div>
				
				<div class="row">
				  <div class="col">{{(selectedRetreat.StartTime).slice(11,16)}} - {{(selectedRetreat.EndTime).slice(11,16)}}</div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Description:</b><br/>{{updatedRetreatDescription}}</div>
				</div>
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--RETREAT STAFF INFO-->
    <script id="templates/retreatStaff.html" type="text/ng-template">
      <ion-view title="Staff">
        <ion-content has-header="true">
			<div align="center">
				<div class="row">
				  <div class="col"><img src="{{selectedRetreatStaff.ImageURL}}" /></div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Name:</b>&nbsp;{{selectedRetreatStaff.Name}}</div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Biography:</b><br/>{{updatedRetreatStaffDesc}}</div>
				</div>
				
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--APPOINTMENTS PAGE-->
    <script id="templates/appointments.html" type="text/ng-template">
      <ion-view title="Appointments">
        <ion-content has-header="true">
			<div class="list">
				<a nav-transition="none" class="item" ng-repeat="sessionType in sessionTypes" href="#/yoga-app/appointmentType/{{sessionType.ID}}">
					{{sessionType.Name}}
				</a>
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--SELECTED APPOINTMENT TYPE-->
    <script id="templates/appointmentType.html" type="text/ng-template">
      <ion-view title="Instructors">
        <ion-content has-header="true" ng-init="selectedInstructor()">	
			<div class="list">
				<div class="item" ng-repeat="instructor in instructors">
					<div class="row">
					  <div class="col col-25">
						<img src="{{instructor.ImageURL}}" width="65px" height="65px"/>
						</div>	
							<div class="col col-50">
							  <h2>{{instructor.FirstName}} {{instructor.LastName}}</h2>
							  </div>
							  <div class="col col-center col-25">
							  <button class="button-right button-stable" ng-click="bookInstructor({{sessionID}},{{instructor}})"> Book </button>
							  </div>
							</div>
					</div>
				</div>
        </ion-content>
      </ion-view>
    </script>
	
	<!--MODAL SHOWING CALENDAR FOR APPOINTMENT-->
	<script id="my-modal.html" type="text/ng-template">
	  <ion-modal-view>
		<ion-header-bar class="bar-energized">
		  <h1 class="title">Appointment</h1>
		  
		  <div class="buttons">
			<a nav-transition="none" class="button button-icon ion-close" ng-click="closeModal()"></a>
		  </div>
				
		</ion-header-bar>
		<ion-content>
		
		<div class="container">
		
			   <label class="item item-input item-icon-right"> 
				  <span class="input-label">Date</span>
				  <input type="date" ng-model="date" ng-click="selectedDate(date)" placeholder="yyyy-MM-dd">
				  <i class="icon ion-calendar"></i>
				</label>
				
				<div class="row"><b>Instructor: &nbsp</b>{{instructorName}}</div>
				<div class="row"><b>Appointment:&nbsp </b>{{sessionName}}</div>
				<!--<div pickadate ng-model="date" min-date="minDate" max-date="maxDate" disabled-dates="disabledDates" week-starts-on="0" default-date="dateDefault" no-extra-rows ng-click="selectedDate(date)">
				  </div>-->
				  <!--<div class="selected-date">
					Selected date is {{date || dateDefault}}
				</div>-->
		</div>
		
			<!--list showing instructors free timeslots-->
			<!--<b>Available Timeslots for {{date}}:</b><br/>-->
			<b>*Select date to view available timeslots:</b><br/><br>
			<div class="list" ng-show="displayTime">
				<div class="item" ng-repeat="schedule in schedules">
						<a nav-transition="none" style="color:green" ng-click="showPopup(schedule)">
							{{schedule.slice(11, 19)}}
						</a>
				</div>
			</div>
		</ion-content>
	  </ion-modal-view>
	</script>
	
	
	<!--CHALLENGES PAGE(under workshops but has its own tab)-->
    <script id="templates/challenges.html" type="text/ng-template">
      <ion-view title="Challenges">
        <ion-content has-header="true">
			<!--pull to refresh events(start)-->
			<ion-refresher on-refresh="refreshChallenges()"></ion-refresher>
			<!--pull to refresh events(end)-->
			
			<div class="list">
				<div class="bar bar-header item-input-inset">
					<ion-search placeholder="Search for challenge" filter="search"></ion-search>
				</div>
				<div class="row" ng-repeat="challenge in challengesData | filter:search.value">
						<div class="item col col-67" style="border-right-style: none;padding-left:15px;padding-top:10px;padding-bottom:10px;">
							<a nav-transition="none" href="#/yoga-app/selectedChallenge/{{challenge.ID}}">
							<b>{{challenge.ClassDescription.Name}}</b><br/>
							{{(challenge.StartDate).slice(8,10)}}-{{(challenge.StartDate).slice(5,10)}}-{{(challenge.StartDate).slice(0,4)}}<br/>
							{{(challenge.StartTime).slice(12,20)}} - {{(challenge.EndTime).slice(12,20)}}<br/>
							{{challenge.Staff.Name}} <br/>
							Challenge ID:&nbsp;{{challenge.ID}}
							</a>
						</div>
						<div class="item col col-center col-33" style="padding-top:45px;padding-bottom:43px;border-left-style: none;">
							<button class="button-right button-stable col" ng-click="bookChallenge({{challenge.ID}},{{userID}})">Book</button>
						</div>
				</div>
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--SELECTED CHALLENGE PAGE-->
    <script id="templates/selectedChallenge.html" type="text/ng-template">
      <ion-view title="Challenge">
        <ion-content has-header="true">
			<div align="center">
				<div class="row">
				  <div class="col"><b>{{selectedChallenge.ClassDescription.Name}}</b></div>
				</div>
				
				<!--
				<div class="row">
				  <div class="col">23/30 Enrolled (dummy)</div>
				</div>-->

				<div class="row">
				  <div class="col">
						<div class="button-bar">
						  <a nav-transition="none" class="button button-small button-energized" href="tel:+6563480809">Call</a>
						  <div class="button button-small button-energized" ng-click="bookChallenge({{selectedChallenge.ID}},{{userID}})">Enroll</div>
						  <a nav-transition="none" class="button button-small button-energized" href="#/yoga-app/Challenges">All Challenges</a>
						</div>
					</div>
				</div>

				<!--rating stars-->
				<div class="row">
					<div class="col">
						<div style="align:right;size:70%;" id="review1" data-score="3.5"></div>
						<div id="result1" style="font-size: 15px !important;"></div>
					</div>
				</div>

				<div class="row">
				  <div class="col">{{(selectedChallenge.StartDate).slice(8,10)}}-{{(selectedChallenge.StartDate).slice(5,7)}}-{{(selectedChallenge.StartDate).slice(0,4)}}</div>
				</div>
				
				<div class="row">
				  <div class="col">{{(selectedChallenge.StartTime).slice(12,20)}} - {{(selectedChallenge.StartDate.EndTime).slice(12,20)}}</div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Description:</b><br/>{{selectedChallenge.ClassDescription.Description}}</div>
				</div>
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	
	<!--YOGAPEDIA PAGE-->
    <script id="templates/yogapedia.html" type="text/ng-template">
      <ion-view title="Yogapedia">
	  	<ion-header-bar class="bar-subheader" style="height: auto;border-color:transparent;">
			<div class="item" align="center">
				<b><span class="input-label">Select Pose Category:</span></b>
				<select data-ng-options="o.name for o in poseOptions" data-ng-model="poseOption"></select>
			</div>
			
			<div class="bar bar-header item-input-inset ng-hide">
					<ion-search filter="(poseOption.value)"></ion-search>
			</div>
		</ion-header-bar>
        <ion-content has-header="true">
			<!--<p align="center">-->
				<!--<img src="img/yoga_v0.jpg" width="90%"/>-->
			<!--</p>-->
			<br><br><br>
			<div class="list">
				<div class="item wrap" ng-repeat="yogapediapose in yogapediaList | filter:(poseOption.value)">
					<div class="row">
						<div class="col col-25">
							<img ng-src="data:{{yogapediapose.posepicturebase64.filetype}};base64,{{yogapediapose.posepicturebase64.base64}}" alt=""  height="50" width="50">
						</div>
						<div class="col col-75">
							<b>Pose:&nbsp;</b>{{yogapediapose.pose}}<br/>
							<b>Category:&nbsp;</b>{{yogapediapose.classType}}<br/>	
							<div class="padding">
								<button class="button button-energized button-outline button-small" ng-click="poseInfo(yogapediapose)">&nbsp;&nbsp;Info&nbsp;&nbsp;</button>
							</div>
						</div>
					</div>
				</div>
			</div>
        </ion-content>
      </ion-view>
    </script>	
		
	<!--YOGAPEDIA MODAL-->
	<script id="yogapedia-modal.html" type="text/ng-template">
	  <ion-modal-view>
		<ion-header-bar class="bar-energized">
			<h1 class="title">Yogapedia Pose</h1>
			  <div class="buttons">
					<a nav-transition="none" class="button button-icon ion-close" ng-click="closeModal()"></a>
			  </div>
		</ion-header-bar>
			<ion-content>	
			    <div align="center">
				<img ng-src="data:{{selectedPose.posepicturebase64.filetype}};base64,{{selectedPose.posepicturebase64.base64}}" alt=""  height="100" width="100"></div>
				<br/>
				<b>Pose Name:&nbsp;</b>{{selectedPose.pose}}<br/><br/>
				<b>Category:&nbsp;</b>{{selectedPose.classType}}<br/><br/>
				<b>Health Benefits:</b><br/>{{selectedPose.information}}
				<button class="button button-block button-energized" ng-click="closeModal()">Got it!</button>
				
				<!--<div class="list">
				  <label class="item item-input">
					<input type="text" placeholder="Email" ng-model='reset.email'>
				  </label>
				  <label class="item item-input">
					<input type="text" placeholder="First Name" ng-model='reset.firstName' >
				  </label>
				  <label class="item item-input">
					<input type="text" placeholder="Last Name" ng-model='reset.lastName' >
				  </label>
					  <button class="button button-block button-energized" ng-click="passwordReset(reset)">Submit</button>
				</div>-->
			</ion-content>
	  </ion-modal-view>
	</script>


	
	<!--LUCKY DRAW PAGE-->
	<!--
    <script id="templates/luckydraw.html" type="text/ng-template">
      <ion-view title="Lucky Draw">
        <ion-content has-header="true">
			<p align="center">
				<img src="img/spin_wheel.jpg" width="90%"/>
			</p>
        </ion-content>
      </ion-view>
    </script>-->
	
	<!--HALL OF FAME PAGE-->
    <script id="templates/halloffame.html" type="text/ng-template">
      <ion-view title="HALL OF FAME" ng-controller="halloffameCtrl">
		<ion-content has-header="true">
			<!--<div class="button-bar">
					<!--<a nav-transition="none" class="button button-small button-stable" ng-click="winnersData.filter='current'">Current</a>
					<!--<a nav-transition="none" class="button button-small button-stable" ng-click="winnersData.filter='past'">Past</a>
			<!--</div>
			<!--<div class="list">
				<!--<a nav-transition="none" class="item" ng-repeat="winner in winnersData.winners | filter : winnersData.filter">
					<!--<b>{{winner.title}}</b><br>{{winner.name}}
				<!--</a>
			<!--</div>-->
			
			<div class="list">
				<div class="item" ng-repeat="winner in halloffameList | orderBy:'-period'">
					<div class="row">
					
						<div class="col col-25">
							<img ng-src="data:{{winner.famepicturebase64.filetype}};base64,{{winner.famepicturebase64.base64}}" alt=" "  height="50" width="50">
						</div>
						<div class="col col-75">
							<b>Title:&nbsp;</b>{{winner.title}}<br/>
							<b>Name:&nbsp;</b>{{winner.name}}<br/>
							<b>Period:&nbsp;</b>{{winner.period}}<br/>
						</div>
					</div>
				</div>
			</div>
			
		</ion-content>
      </ion-view>
    </script>
	
	
	<!--PROMOTIONS PAGE-->
	<script id="templates/promotions.html" type="text/ng-template">
      <ion-view title="Promotions">
        <ion-content has-header="true">
			<p align="center">PROMOTIONS</p>
				<button class="button button-small" ng-click="test()">Test Health Tip</button>

        </ion-content>
      </ion-view>
    </script>
	
	
	<!--CONTACT US PAGE-->
	<script id="templates/contactus.html" type="text/ng-template">
      <ion-view title="Contact Us">
		<ion-content has-header="true">
			<div ng-init="loadContact()"></div>
		</ion-content>
      </ion-view>
    </script>
	
	
	<!--FAQ PAGE-->
    <script id="templates/faq.html" type="text/ng-template">
	<ion-view title="Info/Etiquette">
		<ion-content ng-controller="faqCtrl" has-header="true">
			<!--top bar-->
			<b>
			<div class="button-bar">
				<a id="about" nav-transition="none" class="button button-small button-stable" style="background-color:#f8f8f8; color:#808080;" ng-click="showAbout()"><b>ABOUT</b></a>	
			</div>
			</b>
			
			<b>
			<div class="button-bar">
				<a id="before" nav-transition="none" class="button button-small button-stable" href="#/yoga-app/faq" ng-click="showBeforeClass()" style="background-color:#e87722; color:#ffffff;"><b>BEFORE CLASS</b></a>
				<a id="during" nav-transition="none" class="button button-small button-stable" href="#/yoga-app/faq" ng-click="showDuringClass()" style="background-color:#f8f8f8; color:#808080;"><b>DURING CLASS</b></a>
			</div>
			</b>
			
			<div ng-show="displayBeforeClass">
				<div class="list">
					<div class="item wrap" ng-repeat="faqbefore in beforeClass">
						<div class="row">
							{{faqbefore}}<br/>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-show="displayDuringClass">
				<div class="list">
					<div class="item wrap" ng-repeat="faqduring in duringClass">
						<div class="row">
							{{faqduring}}<br/>
						</div>
					</div>
				</div>
			</div>
			
			<ion-list ng-show="displayAbout">
				<div ng-repeat="group in groups">
				  <ion-item class="item-stable"
							ng-click="toggleGroup(group)"
							ng-class="{active: isGroupShown(group)}">
					  <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
					&nbsp;
					{{group.name}}
				  </ion-item>
				  <ion-item class="item-accordion wrap"
							ng-repeat="item in group.items"
							ng-show="isGroupShown(group)">
					{{item}}
				  </ion-item>
				</div>
			</ion-list>
			
			
		</ion-content>
	</ion-view>
    </script>
	
	<!--ABOUT PAGE-->
    <script id="templates/about.html" type="text/ng-template">
	<ion-view title="About">
		<ion-content ng-controller="aboutCtrl" has-header="true">
			<!--top bar-->
			<b>
			<div class="button-bar">
				<a nav-transition="none" class="button button-small button-stable" href="#/yoga-app/about" style="background-color:#e67e22;color:#f8f8f8; border-bottom: thick solid #e67e22;border-bottom-width:2px;" ng-click="showAbout()">ABOUT</a>	
			</div></b>
			
		<b>
			<div class="button-bar">
				<a nav-transition="none" class="button button-small button-stable" id="beforeClass"  ng-click="showBeforeClass()" style="background-color:#f8f8f8; color:#808080;"><b>BEFORE CLASS</b></a>
				<a nav-transition="none" class="button button-small button-stable" id="afterClass" ng-click="showDuringClass()" style="background-color:#f8f8f8; color:#808080;"><b>DURING CLASS</b></a>	
			</div>
			</b>
			
			<ion-list ng-show="displayAbout">
				<div ng-repeat="group in groups">
				  <ion-item class="item-stable"
							ng-click="toggleGroup(group)"
							ng-class="{active: isGroupShown(group)}">
					  <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
					&nbsp;
					{{group.name}}
				  </ion-item>
				  <ion-item class="item-accordion wrap"
							ng-repeat="item in group.items"
							ng-show="isGroupShown(group)">
					{{item}}
				  </ion-item>
				</div>
			</ion-list>
			
			
			<div ng-show="displayBeforeClass">
				<div class="list">
					<div class="item wrap" ng-repeat="faqbefore in beforeClass">
						<div class="row">
							{{faqbefore}}<br/>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-show="displayDuringClass">
				<div class="list">
					<div class="item wrap" ng-repeat="faqduring in duringClass">
						<div class="row">
							{{faqduring}}<br/>
						</div>
					</div>
				</div>
			</div>
			
		</ion-content>
	</ion-view>
    </script>
	
	<!--BARCODE PAGE-->
	<script id="templates/barcode.html" type="text/ng-template">
      <ion-view title="Barcode">
        <ion-content has-header="true">
		<p align="left">
			<img src="http://www.barcodes4.me/barcode/c39/{{userId}}.jpg?width=300&height=150&IsTextDrawn=2" style="padding-top:80px;padding-left:30px"/>
			</p><!--<p align="center"><img src="img/barcode.jpg" width="100%"/></p>-->
        </ion-content>
      </ion-view>
    </script>

	
	<!--SETTING PAGE-->
	<script id="templates/setting.html" type="text/ng-template">
      <ion-view title="Setting">
        <ion-content has-header="true" ng-init="renew()">
					<div class="list">
						 <!--Address-->	
						  <div class="item item-button-right">
							<b>Address:&nbsp;</b>{{user.address}}
							<button class="button button-outline button-energized" ng-click="editAddress()">
								Edit
							</button>
						  </div>
						  <!--Email-->	
						  <div class="item item-button-right">
							<b>Email:&nbsp;</b>{{user.email}}
							<button class="button button-outline button-energized" ng-click="editEmail()">
								Edit
							</button>
						  </div>
						  <!--Postal Code-->	
						  <div class="item item-button-right">
							<b>Postal Code:&nbsp;</b>{{user.postalCode}}
							<button class="button button-outline button-energized" ng-click="editPostal()">
								Edit
							</button>
						  </div>
						  <!--Mobile Phone-->	
						  <div class="item item-button-right">
							<b>Mobile Phone:&nbsp;</b>{{user.mobile}}
							<button class="button button-outline button-energized" ng-click="editMobile()">
								Edit
							</button>
						  </div>
					</div>
					<div class="padding">
						<button class="button button-block button-energized" ng-click="goBack()">Done</button>
					</div>
        </ion-content>
      </ion-view>
    </script>
	
  </body>
</html>
