<!DOCTYPE html>
<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">-->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
	
	<!--star review[start]-->
	<!--http://runnable.com/UfH637_djX9LAAAt/how-to-add-5-star-rating-using-jquery--> 
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.raty.js"></script>
	<!--star review[end]-->
	
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <!--APP STRUCTURE-->
<!--
1. LOGIN PAGE
	1.1 FORGET PASSWORD PAGE
2. MAIN PARENT PAGE CONTAINER (the top bar fixed, other pages will be injected inside~abstract true)
--all templates below--
-new pages are added
3. HOME PAGE
4. CLASSES PAGE
5. WORKSHOPS PAGE
6. EVENTS PAGE
7. APPOINTMENTS PAGE
8. CHALLENGES PAGE
9. POSE TREE PAGE
10. LUCKY DRAW PAGE
11. HALL OF FAME PAGE
-->  
  <body ng-controller="MainCtrl">

	<!--for display-->
	<ion-nav-view animation="no-animation"></ion-nav-view>
	
	
	<!--LOGIN PAGE-->
	<script id="templates/login.html" type="text/ng-template">	
      <ion-view title="Login">
		<!--top bar-->
		<ion-nav-bar class="bar-energized">
				<!--<ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>--> 
		</ion-nav-bar>
		
        <ion-content>			
          <div class="list">
            <label class="item item-input item-stacked-label" style="padding-right:15px">
              <span class="input-label">Username</span>
              <input type="text" style="background-color:#ecf0f1;padding-left: 10px;" ng-model="user.username">
			</label>
            <label class="item item-input item-stacked-label" style="padding-right:15px">
              <span class="input-label">Password</span>
              <input type="password" style="background-color:#ecf0f1;padding-left:10px;" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-energized" ng-click="signIn(user)">
              Sign-In
            </button>
			<p>{{authenticationMsg}}</p>
            <p class="text-center">
			  <a href="http://www.platinumyoga.com/">Register</a><br/>
              <!--<a href="#/forgot-password">Forgot password</a>-->
            </p>
          </div>
        </ion-content>
      </ion-view>
    </script>
	
	<!--FORGET PASSWORD PAGE-->
	<!--PAGE NOR NEEDED-->
	 <script id="templates/forgot-password.html" type="text/ng-template">
      <ion-view title="Forgot Password">
		<ion-nav-bar class="bar-energized">
		  <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
		</ion-nav-bar>
	
        <ion-content padding="true">
          <p>
            Enter Email and request for password.
          </p>
          <p>
            Return to <a href="#/login">Login</a>.
          </p>
        </ion-content>
      </ion-view>
    </script>
	
	 
	<!--MAIN PARENT PAGE CONTAINER (with only top bar and side menus, contents are injected)-->
    <script id="templates/yoga-app.html" type="text/ng-template">
      <ion-side-menus ng-controller="sidebarCtrl">
		
		<!--main contents area-->
        <ion-side-menu-content>
		
		  <!--Different page titles are injected here-->	
          <ion-nav-bar class="bar-energized">
				<!--<ion-nav-back-button></ion-nav-back-button>-->
				
				<!--left menu navigation button-->
				<ion-nav-buttons side="left">
				  <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				  </button>
				</ion-nav-buttons>
				
				<!--right menu setting button-->
				<ion-nav-buttons side="right">
				  <a class="button button-icon button-clear ion-gear-a" href="#/yoga-app/setting">
				  </a>
				</ion-nav-buttons>
          </ion-nav-bar>
		  
		  <!--child pages from nesting are INJECTED here (nested under)!!-->		
          <ion-nav-view name="menuContent"></ion-nav-view>
		  
		<!--bottom footer (permanent)-->
			<ion-footer-bar>
				<ion-tabs class="tabs-energized">
					<!--<a class="tab-item"><i class="icon ion-home"></i></a>-->
					<ion-tab title="Home" href="#/yoga-app/home"></ion-tab>
					<ion-tab title="Book" ng-click="showActionsheet()"></ion-tab>
					<ion-tab title="Barcode" href="#/yoga-app/barcode"></ion-tab>
					<ion-tab title="Pose Tree" href="#/yoga-app/posetree"></ion-tab>
					<ion-tab title="Lucky Draw" href="#/yoga-app/luckydraw"></ion-tab>
				</ion-tabs>
			</ion-footer-bar>
        </ion-side-menu-content>	  

		<!--left side menu bar-->
        <ion-side-menu side="left">
          <!--<ion-header-bar>
            <h1 class="title">Menu</h1>
          </ion-header-bar>-->
		  
          <ion-content>
            <ul class="list">
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <a href="#/yoga-app/home" class="item" menu-close>Home</a>
			  
			  <!--BOOK LINK in ACCORDION-->
			  	<ion-list>
					<div ng-repeat="group in groups">
					  <ion-item class="item"
								ng-click="toggleGroup(group)"
								ng-class="{active: isGroupShown(group)}">
						  <i class="icon" ng-class="isGroupShown(group) ?"></i>
						{{group.name}}
					  </ion-item>
					  <ion-item class="item-accordion"
								ng-repeat="item in group.items"
								ng-show="isGroupShown(group)"  ng-repeat="" href="#/yoga-app/{{item}}" type="item-link" menu-close>
						<i class="icon ion-chevron-right">&nbsp;&nbsp;&nbsp;&nbsp;{{item}}</i>
					  </ion-item>
					</div>
				</ion-list>
			  
			  <a href="#/yoga-app/halloffame" class="item" menu-close>Hall of Fame</a>
			  <a href="#/yoga-app/faq" class="item" menu-close>FAQ</a>
			  <a href="#/login" class="item" menu-close>Log Out</a>
            </ul>
          </ion-content>
        </ion-side-menu>
      </ion-side-menus>
    </script>

	<!--HOME PAGE-->
    <script id="templates/home.html" type="text/ng-template">
      <ion-view title="Home" ng-init="init1()">
			<ion-content>
				<!--user picture & name + points-->
				<div class="row">
					<div class="col col-offset-10"><img src="/img/profile_upload.jpg" /></div>
					
					<div class="col"><b>Name:</b><div ng-model="username">{{username}}</div><br/><b>User ID: </b><div ng-model="id">{{userId}}</div>
					<br/><b>Points:</b> 50
					</div>
				</div>
				
				<div class="button-bar">
				  <a class="button button-small" id="showUpcoming" ng-click="showUpcoming($event)">Upcoming</a>
				  <a class="button button-small" id="showHistory" ng-click="showHistory($event)">History</a>
				  <!--<div class="button button-small" ng-click="open()">TEST</div>-->
				</div>
				
			
				
				<ion-list ng-show="showUpcomingView">
				
					<div class="list">
					<div class="item" ng-repeat="class in scheduledClasses">
						{{class.Name}}
						<div class="button button-small assertive" ng-click="removeClass({{class.ClassID}},{{userId}})">Delete</div>
					</div>
				</div>
				
					<div ng-repeat="group in groups">
					  <ion-item class="item-stable"
								ng-click="toggleGroup(group)"
								ng-class="{active: isGroupShown(group)}">
						  <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
						&nbsp;
						{{group.name}}
					  </ion-item>
					  <ion-item class="item-accordion"
								ng-repeat="item in group.items"
								ng-show="isGroupShown(group)"  ng-repeat="" href="" type="item-link">
						{{group.name}} {{item}}
					  </ion-item>
					</div>
				</ion-list>

				<ion-list ng-if="showHistoryView">
					<ion-item href="#/movie/{{movie.id}}">History 1</ion-item>
					<ion-item href="#/movie/{{movie.id}}">History 2</ion-item>
					<ion-item href="#/movie/{{movie.id}}">History 3</ion-item>
				</ion-list>
			</ion-content>
      </ion-view>
    </script>
	

	<!--CLASSES PAGE-->
    <script id="templates/classes.html" type="text/ng-template">
      <ion-view title="Classes">
			<ion-content padding="true">
				<div ng-controller="DateCtrl">
					<label class="item item-input">
					 <span class="input-label">Date</span>
					 <input type="date">
					</label>
				</div>

				<div class="button-bar">
					<a class="button button-small button-stable" ng-click="">Beginner</a>
					<a class="button button-small button-stable" ng-click="">Intermediate</a>
					<a class="button button-small button-stable" ng-click="">Advance</a>
				</div>
				
				<div class="list">
				<div class="row" ng-repeat="class in totalClasses">
					<div class="item col col-67" style="border-right-style: none;padding-left:15px;padding-top:10px;padding-bottom:10px;">
						<a href="#/yoga-app/selectedClass/{{class.ID}}">
						<b>{{class.ClassDescription.Name}}</b><br/>			
						{{(class.StartDateTime).slice(0,10)}}<br/>
						{{(class.StartDateTime).slice(11,16)}} - {{(class.EndDateTime).slice(11,16)}}<br/>
						{{class.Staff.Name}}<br/>
						{{class.ID}}
						</a>
					</div>
					<div class="item col col-center col-33" style="padding-top:45px;padding-bottom:43px;border-left-style: none;">
						<button class="button-right button-stable col col-33 col-offset-33" ng-click="bookClass({{class.ID}},{{userID}})">Book</button>
					</div>
				</div>
				</div>
				
				<!--OLD FILTER PORTION-->
				<!--
				<div class="button-bar">
					<a class="button button-small button-stable" ng-click="classesData.filter='beginner'">Beginner</a>
					<a class="button button-small button-stable" ng-click="classesData.filter='intermediate'">Intermediate</a>
					<a class="button button-small button-stable" ng-click="classesData.filter='advance'">Advance</a>
				</div>-->
				
				<!--<div class="list">
					<a class="item" ng-repeat="class in classesData.classes | filter : classesData.filter">
						<b>{{class.name}}</b><br>{{class.date}}<br>{{class.time}}<br>{{class.instructor}}
						<button class="button-right button-stable col col-33 col-offset-67">Book</button>
					</a>
				</div>-->
			</ion-content>	
      </ion-view>
    </script>
	
	<!--SELECTED CLASS PAGE-->
    <script id="templates/selectedClass.html" type="text/ng-template">
      <ion-view title="Class">
        <ion-content>
			
			<div align="center">
				<div class="row">
				  <div class="col"><b>{{selectedclass.ClassDescription.Name}}</b></div>
				</div>

				<div class="row">
				  <div class="col">25/30 Enrolled (dummy)</div>
				</div>

				<div class="row">
				  <div class="col">
						<div class="button-bar">
						  <a class="button button-small button-energized" href="tel:+6563480809">Call</a>
						  <div class="button button-small button-energized" ng-click="bookClass({{selectedclass.ID}},{{userID}})">Enroll</div>
						  <a class="button button-small button-energized" href="#/yoga-app/Classes">All Classes</a>
						</div>
					</div>
				</div>

				<div class="row">
				  <div class="col">
					<a href="#yoga-app/classStaff/{{selectedclass.Staff.ID}}" class="button button-small">{{selectedclass.Staff.Name}}
					</a>
				  </div>
				</div>
				
				<!--rating stars-->
				<div class="row">
					<div class="col">
						<div style="align:right;size:70%;" id="review1" data-score="3.5"></div>
						<div id="result1" style="font-size: 15px !important;"></div>
					</div>
				</div>

				<div class="row">
				  <div class="col">{{(selectedclass.StartDateTime).slice(0,10)}}</div>
				</div>
				
				<div class="row">
				  <div class="col">{{(selectedclass.StartDateTime).slice(11,16)}} - {{(selectedclass.EndDateTime).slice(11,16)}}</div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Description:</b><br/>{{selectedclass.ClassDescription.Description}}</div>
				</div>
				
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	<!--CLASS RATING STARS SCRIPT (for selected class)-->
	<script type="text/javascript">
		$(function(){
		$('#review1').raty(
			{
				half: true,
				target: '#result1',
				targetKeep: true,
				score: function()
				{
					return $(this).attr('data-score');
				}
			});
		});
	</script>
	
	
	<!--CLASS STAFF INFO-->
    <script id="templates/classStaff.html" type="text/ng-template">
      <ion-view title="Staff">
        <ion-content>
			
			<div align="center">
				<div class="row">
				  <div class="col"><img src="{{selectedStaff.ImageURL}}" /></div>
				</div>
				
				<div class="row">
				  <div class="col"><b>{{selectedStaff.Name}}</b></div>
				</div>
				
			</div>
        </ion-content>
      </ion-view>
    </script>

	
	<!--WORKSHOPS PAGE-->
    <script id="templates/workshops.html" type="text/ng-template">
      <ion-view title="Workshops">
        <ion-content>
			<div class="list">
				<div class="bar bar-header item-input-inset">
					<ion-search placeholder="Search a user" filter="search"></ion-search>
				</div>
			
				<div class="item" ng-repeat="workshop in workShopsData | filter:search.value"><a href="#/yoga-app/selectedWorkshop/{{workshop.ID}}">
					{{workshop.ClassDescription.Name}}<br/>
					{{(workshop.StartDate).slice(0,10)}}<br/>
					{{(workshop.StartTime).slice(12,20)}} - {{(workshop.EndTime).slice(12,20)}}<br/>
					{{workshop.Staff.Name}} <br/>
					{{workshop.ID}}</a>
					<button class="button-right button-stable col col-33 col-offset-67">Book</button>
				</div>
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--SELECTED WORKSHOP PAGE-->
    <script id="templates/selectedWorkshop.html" type="text/ng-template">
      <ion-view title="Workshop">
        <ion-content>
			<div align="center">
				<div class="row">
				  <div class="col"><b>{{selectedWorkshop.ClassDescription.Name}}</b></div>
				</div>

				<div class="row">
				  <div class="col">25/30 Enrolled (dummy)</div>
				</div>

				<div class="row">
				  <div class="col">
						<div class="button-bar">
						  <a class="button button-small button-energized" href="tel:+6563480809">Call</a>
						  <div class="button button-small button-energized" ng-click="">Enroll</div>
						  <a class="button button-small button-energized" href="#/yoga-app/Workshops">All Workshops</a>
						</div>
					</div>
				</div>

				<div class="row">
				  <div class="col">
					  <a href="#yoga-app/workshopStaff/{{selectedWorkshop.Staff.ID}}" class="button button-small">{{selectedWorkshop.Staff.Name}}</a>
				  </div>
				</div>
				
				<!--rating stars-->
				<div class="row">
					<div class="col">
						<div style="align:right;size:70%;" id="review1" data-score="3.5"></div>
						<div id="result1" style="font-size: 15px !important;"></div>
					</div>
				</div>

				<div class="row">
				  <div class="col">{{(selectedWorkshop.StartDate).slice(0,10)}}</div>
				</div>
				
				<div class="row">
				  <div class="col">{{(selectedWorkshop.StartTime).slice(12,20)}} - {{(selectedWorkshop.StartDate.EndTime).slice(12,20)}}</div>
				</div>
				
				<div class="row">
				  <div class="col"><b>Description:</b><br/>{{selectedWorkshop.ClassDescription.Description}}</div>
				</div>
			</div>
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--WORKSHOP STAFF INFO-->
    <script id="templates/workshopStaff.html" type="text/ng-template">
      <ion-view title="Staff">
        <ion-content>
			<div align="center">
				<div class="row">
				  <div class="col"><img src="{{selectedWorkshopStaff.ImageURL}}" /></div>
				</div>
				
				<div class="row">
				  <div class="col"><b>{{selectedWorkshopStaff.Name}}</b></div>
				</div>
				
			</div>
        </ion-content>
      </ion-view>
    </script>

	<!--EVENTS PAGE(check with anil, whether it is static info)-->
    <script id="templates/events.html" type="text/ng-template">
      <ion-view title="Events">
        <ion-content>
			<p align="center">EVENTS CONTENTS</p>
        </ion-content>
      </ion-view>
    </script>
	
	<!--APPOINTMENTS PAGE-->
    <script id="templates/appointments.html" type="text/ng-template">
      <ion-view title="Appointments">
        <ion-content>
			<p align="center">APPOINTMENTS CONTENTS</p>
        </ion-content>
      </ion-view>
    </script>
	
	<!--CHALLENGES PAGE(static info, uploaded via online portal)-->
    <script id="templates/challenges.html" type="text/ng-template">
      <ion-view title="Challenges">
        <ion-content>
			<p align="center">CHALLENGES CONTENTS</p>
        </ion-content>
      </ion-view>
    </script>
	
	<!--POSE TREE PAGE-->
    <script id="templates/posetree.html" type="text/ng-template">
      <ion-view title="Pose Tree">
	  
        <ion-content>
			<p align="center">
				<img src="img/yoga_v0.jpg" width="90%"/>
			</p>
        </ion-content>
      </ion-view>
    </script>
	
	<!--LUCKY DRAW PAGE-->
    <script id="templates/luckydraw.html" type="text/ng-template">
      <ion-view title="Lucky Draw">
        <ion-content>
			<p align="center">
				<img src="img/spin_wheel.jpg" width="90%"/>
			</p>
        </ion-content>
      </ion-view>
    </script>
	
	<!--HALL OF FAME PAGE-->
    <script id="templates/halloffame.html" type="text/ng-template">
      <ion-view title="HALL OF FAME" ng-controller="halloffameCtrl">
		
		<ion-content>
			<div class="button-bar">
					<a class="button button-small button-stable" ng-click="winnersData.filter='current'">Current</a>
					<a class="button button-small button-stable" ng-click="winnersData.filter='past'">Past</a>
			</div>
			<div class="list">
				<a class="item" ng-repeat="winner in winnersData.winners | filter : winnersData.filter">
					<b>{{winner.title}}</b><br>{{winner.name}}
				</a>
			</div>
		</ion-content>
      </ion-view>
    </script>
	
	<!--FAQ PAGE-->
    <script id="templates/faq.html" type="text/ng-template">
	<ion-view title="FAQ">
		<ion-content ng-controller="faqCtrl">
			<!--top bar-->
			<div class="button-bar">
				<a style="background-color:#f8f8f8;color:#e67e22; border-bottom: thick solid #e67e22;border-bottom-width:2px;" class="button button-small button-stable" href="#/yoga-app/faq">FAQ</a>
				<a class="button button-small button-stable" href="#/yoga-app/about">About</a>	
			</div>
			<ion-list>
				<div ng-repeat="group in groups">
				  <ion-item class="item-stable"
							ng-click="toggleGroup(group)"
							ng-class="{active: isGroupShown(group)}">
					  <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
					&nbsp;
					{{group.name}}
				  </ion-item>
				  <ion-item class="item-accordion wrap"
							ng-repeat="item in group.items"
							ng-show="isGroupShown(group)">
					{{item}}
				  </ion-item>
				</div>
			</ion-list>
		</ion-content>
	</ion-view>
    </script>
	
	<!--ABOUT PAGE-->
    <script id="templates/about.html" type="text/ng-template">
	<ion-view title="About">
		<ion-content ng-controller="aboutCtrl">
			<!--top bar-->
			<div class="button-bar">
				<a class="button button-small button-stable" href="#/yoga-app/faq">FAQ</a>
				<a class="button button-small button-stable" href="#/yoga-app/about" style="background-color:#f8f8f8;color:#e67e22; border-bottom: thick solid #e67e22;border-bottom-width:2px;">About</a>	
			</div>
			<ion-list>
				<div ng-repeat="group in groups">
				  <ion-item class="item-stable"
							ng-click="toggleGroup(group)"
							ng-class="{active: isGroupShown(group)}">
					  <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
					&nbsp;
					{{group.name}}
				  </ion-item>
				  <ion-item class="item-accordion wrap"
							ng-repeat="item in group.items"
							ng-show="isGroupShown(group)">
					{{item}}
				  </ion-item>
				</div>
			</ion-list>
		</ion-content>
	</ion-view>
    </script>
	
	<!--BARCODE PAGE-->
	<script id="templates/barcode.html" type="text/ng-template">
      <ion-view title="Barcode">
        <ion-content>
			<p align="center"><img src="img/barcode.jpg" width="100%"/></p>
        </ion-content>
      </ion-view>
    </script>
	
	<!--SETTING PAGE-->
	<script id="templates/setting.html" type="text/ng-template">
      <ion-view title="Setting" ng-controller="MainCtrl">
        <ion-content>
			
				
		<div class="row">
			<div class="col-sm-6">
				<!-- =================================================================== -->
				<!-- FORM ============================================================== -->
				<!-- =================================================================== -->
			  
				<form name="userForm" ng-submit="submitForm()" novalidate>	  
					  <!-- USERNAME -->
					<div class="form-group">
						<label>Address</label>
						<input type="text" name="address" class="glowing-border" ng-model="user.address" style="color:gray">
					</div>
					
					<!-- EMAIL -->
					<div class="form-group" ng-class="{'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
						<label>Email</label>
						<input type="email" name="email" class="glowing-border" ng-model="user.email">
						<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
					</div>
					<br/>
					<button type="submit" class="button" ng-disabled="userForm.$invalid">Submit</button>
					<button class="button" ng-click="goBack()">Back</button>
				</form>
			  </div>
			</div>
			
			
        </ion-content>
      </ion-view>
    </script>
	
  </body>
</html>
